// default arguments parameters
params {
    help = false
    cpus = Runtime.runtime.availableProcessors()
    gene_list = 'configs/genes_and_products.txt'
    gene_trim_intervals = 'data/static/padded_gene_intervals.json'
    gene_lengths = 'data/static/reference_gene_lengths.json'
    single_sites = 'configs/single_sites.txt'
}

// execution profiles
profiles {
    standard {
        executor {
            name = "local"
            cpus = params.cpus
        }
        includeConfig 'configs/profiles/local.config'
    }

    slurm {
        executor {
            name = "slurm"
        }
        includeConfig 'configs/profiles/hpc.config'
    }
}