// default arguments parameters
params {
    max_cores = Runtime.runtime.availableProcessors()
    help = false
    gene_list = 'configs/genes_and_products.txt'
    gene_trim_intervals = 'data/static/padded_gene_intervals.json'
}

// execution profiles
profiles {
    standard {
        executor {
            name = "local"
            cpus = params.max_cores
        }
        includeConfig 'configs/profiles/local.config'
    }
}