process{
  withName:EXTRACT_GENE{ cpus = 8 }
  withName:COMPRESS_DUPLICATES{ cpus = 1 }
  withName:CREATE_PROTEIN_MSA{ cpus = 16 }
  withName:CREATE_NUC_MSA{ cpus = 16 }
  withName:MERGE_DUPLICATES{ cpus = 1 }
  withName:FILTER_NUC_MSA{ cpus = 16 }
  withName:BUILD_TREE{ cpus = 16 }
  withName:SLAC_ANALYSIS{ cpus = 8 }
  withName:FEL_ANALYSIS{ cpus = 8 }
  withName:MEME_ANALYSIS{ cpus = 8 }
  withName:FUBAR_ANALYSIS{ cpus = 8 }
  withName:PRIME_ANALYSIS{ cpus = 8 }
  withName:GET_POSITIONS_UNDER_PS_PER_GENE{ cpus = 1 }
  withName:VISUALIZE_PS_GENOMEWIDE{ cpus = 1 }
  withName:PIPELINE_REPORT{ cpus = 1 }
  withName:VISUALIZE_RESULTS{ cpus = 1 }
}