process{
  withName:EXTRACT_GENE{
    cpus = 8
    memory = 32GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:COMPRESS_DUPLICATES{
    cpus = 1
    memory = 8GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:CREATE_PROTEIN_MSA{
    cpus = 16
    memory = 64GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:CREATE_NUC_MSA{
    cpus = 16
    memory = 64GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:MERGE_DUPLICATES{
    cpus = 1
    memory = 8GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:FILTER_NUC_MSA{
    cpus = 16
    memory = 64GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:BUILD_TREE{
    cpus = 16
    memory = 64GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:SLAC_ANALYSIS{
    cpus = 8
    memory = 32GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:FEL_ANALYSIS{
    cpus = 8
    memory = 32GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:MEME_ANALYSIS{
    cpus = 8
    memory = 32GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:FUBAR_ANALYSIS{
    cpus = 8
    memory = 32GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:PRIME_ANALYSIS{
    cpus = 8
    memory = 32GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:GET_POSITIONS_UNDER_PS_PER_GENE{
    cpus = 1
    memory = 8GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:VISUALIZE_PS_GENOMEWIDE{
    cpus = 1
    memory = 8GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:PIPELINE_REPORT{
    cpus = 1
    memory = 8GB
    clusterOptions = '--account=renard --partition=sorcery'}
  withName:VISUALIZE_RESULTS{
    cpus = 1
    memory = 8GB
    clusterOptions = '--account=renard --partition=sorcery'}
}