process{
  withName:EXTRACT_GENE{ cpus = 3; memory = 3072MB}
  withName:COMPRESS_DUPLICATES{ cpus = 3; memory = 3072MB}
  withName:CREATE_PROTEIN_MSA{ cpus = 3; memory = 3072MB}
  withName:CREATE_NUC_MSA{ cpus = 3; memory = 3072MB}
  withName:MERGE_DUPLICATES{ cpus = 3; memory = 3072MB}
  withName:FILTER_NUC_MSA{ cpus = 3; memory = 3072MB}
  withName:BUILD_TREE{ cpus = 3; memory = 3072MB}
  withName:SLAC_ANALYSIS{ cpus = 3; memory = 3072MB}
  withName:FEL_ANALYSIS{ cpus = 3; memory = 3072MB}
  withName:MEME_ANALYSIS{ cpus = 3; memory = 3072MB}
}