process{
  withName:EXTRACT_GENE{ cpus = 4 }
  withName:COMPRESS_DUPLICATES{ cpus = 4 }
  withName:CREATE_PROTEIN_MSA{ cpus = 4 }
  withName:CREATE_NUC_MSA{ cpus = 4 }
  withName:MERGE_DUPLICATES{ cpus = 4 }
  withName:FILTER_NUC_MSA{ cpus = 4 }
  withName:BUILD_TREE{ cpus = 4 }
  withName:SLAC_ANALYSIS{ cpus = 4 }
  withName:FEL_ANALYSIS{ cpus = 4 }
  withName:MEME_ANALYSIS{ cpus = 4 }
}